body {
  --gutter: 1rem;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: var(--gutter, 0);
}

// https://modern-fluid-typography.vercel.app/
// https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/

:where(h1, h2) {
  --fluid-type-min: 2.8rem;
  --fluid-type-max: 12rem;
  --fluid-type-target: 9vw;
  font-weight: bold;
  font-size: clamp(var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.3rem));

}

h2 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 5rem;
  --fluid-type-target: 2vw;
  font-size: clamp(var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.3rem));
}

header,
footer {
  text-align: center;
  padding-block: var(--gutter, 0);
}

footer {
  padding-block: 2rem;
  --fluid-type-target: 1vw;
  font-size: clamp(var(--fluid-type-min, 0.8rem),
      calc(0.5rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.125rem));
}