.wrapper {
    display: grid;
    gap: var(--gutter, 0);
    grid-template-columns:
      1fr
      min(65ch, 100% - 2rem)
      1fr;
  }
  .wrapper > * {
    grid-column: 2;
  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }