@import "reset";
@import "wrapper";
@import "page";
@import "pre";

body {
  font-family: sans-serif;
  background-color: hsl(208, 100%, 97%);
  color: hsl(208, 3%, 20%);
}

pre {
  width: max-content;
  margin-inline: auto;
}